<div class="container-header">
  <div class="header">
    <h1>Xmas Card Tree</h1>
  </div>
</div>
<div class="container-tree">
  <div class="container-card">
    <h2>
      <strong>De:</strong> Luísa Verza
    </h2>
    <h2>
      <strong>Para:</strong> Santa Claus
    </h2>
    <figure>
      <%= image_tag "health-wishes.jpg" %>
    </figure> <!-- /figure -->
    <quote>I wish happiness and health to all my beloved ones</quote> <!-- quote -->
  </div><!-- container-card -->
  <div class="container-second-card">
    <h2>
      <strong>De:</strong> Nairobi
    </h2>
    <h2>
      <strong>Para:</strong> Humans
    </h2>
    <quote>Dear Humans, I want more food. </quote>
  </div><!-- container-second-card -->
  <div class="container-card container-third-card">
    <h2>
      <strong>De:</strong> Mel
    </h2>
    <h2>
      <strong>Para:</strong> My Humans
    </h2>
    <figure>
      <%= image_tag "black-dog.jpg" %>
    </figure> <!-- /figure -->
    <quote>AUUUUU </quote>
  </div>
</div><!-- container-tree -->
    

