<div class="container-header">
  <div class="header">
    <h1>Xmas Card Tree</h1>
  </div>
</div>
<div class="container-tree">
  <div>
    <div class="container-card">
      <h2>
        <strong>De:</strong> Luísa Verza
      </h1>
      <h2>
        <strong>Para:</strong> Santa Claus
      </h1>
      <quote>I wish happiness and health to all my beloved ones</quote>
    </div>
  </div>
</div>
