.container-card {
  height: 200px;
  background-color: rgba(255,255,255, 0.9);
  width: 500px;
  border-radius: 5px;
  margin-top: 40px;
  padding: 20px;
  color: darkgreen;
}
.container-second-card {
  height: 200px;
  background-color: rgba(15, 103, 161, 0.925);
  width: 500px;
  border-radius: 5px;
  margin-top: 40px;
  padding: 20px;
  color: rgba(255,255,255, 0.9);
}
